{
  "presets": [
    [
      "latest",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 10"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-es2015-destructuring", "transform-object-rest-spread"]
}
